{"filter":false,"title":"requirements.txt","tooltip":"/AbdulAhad/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":13},"end":{"row":0,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":4,"mode":"ace/mode/text"}},"hash":"a224b9f0d7555ab426242644c17ccac58ead02db","mime":"text/plain","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":2,"column":0},"end":{"row":2,"column":22},"action":"insert","lines":["Npm install –g aws-cdk"],"id":2}],[{"start":{"row":1,"column":18},"end":{"row":1,"column":19},"action":"remove","lines":[">"],"id":3},{"start":{"row":1,"column":18},"end":{"row":1,"column":19},"action":"insert","lines":["="]}],[{"start":{"row":0,"column":12},"end":{"row":0,"column":13},"action":"remove","lines":[">"],"id":4},{"start":{"row":0,"column":12},"end":{"row":0,"column":13},"action":"insert","lines":["="]}]]},"timestamp":1639594557558}